* {
	box-sizing: border-box;
	transition: all .2s ease-in-out;
}

body {
	margin: 0 0 0 0;
	background-color: #f1f1f1;
	min-height: 100vh;
	font-family: Arial, sans-serif;
	color:#c2c2c2;
}

main {
	margin-top: 40px;
}

.content {
	width: 100%;
	font-size: 0;
	padding: 0 10%;
}
.main-form {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
}
.search{
	
	border:none;
	outline: 0;
	outline-offset: 0;
	background-color:inherit;
	font-size: 95px;
	font-weight: 700;
}

.search-button {
	position: absolute;
	top: 10%;
	right: 0;
	padding: 0;
    border: none;
    background-color: transparent;
    outline: 0;
}

.search-icon:hover {
	width: 90px;
	height: 90px;
}

.search-icon {
	width: 80px;
	height: 80px;
}

input[type="search"] {
	color:  #ec5a62;
	width: inherit;
}

input::placeholder{
	color: #c2c2c2;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

section {
	display: inline-block;
	vertical-align: top;
    width: 30%;

}

.section-popular {
	margin: 0 5%;
}

ul {
	list-style: none;
	display: inline-block;
	padding:0;
	margin-top: 7px;
	width: 100%;
}

li {
	margin: 5px 0;
	width:100%;

}
h2 {
	margin: 0px;
	font-size: 17px;
	font-weight: 900;
}

span {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    width: 70%;
    max-height: 53px;
    overflow: hidden;	
}

a {
	display: block;
	text-decoration:none;
	color:inherit;
	padding: 13px;
	background-color: rgba(118,117,128,0.05);
}

img {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	/*margin-right: 12px;*/
	
}

.circle-img{
	border-radius: 30px;
}

li:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}

@media screen and (max-width: 800px) {
	.section {
		display: block;
		
	}
}